.image-general-status{
  height:180px;
  width:100px;
  margin:auto;
  background-color: #222222;
}
.image-used-status{
  height:100px;
  width:100px;
  margin:auto;
  background-color: #999999;
}
.card_title{
  color:#000000;
}
.demo-chart {
    color: #ACEC00;
}

#container-containers{
  display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.label{
  color: black;
  background-color: white;
}
.imagine-containers{
  display: flex;
  flex-direction: row ;
  align-items: flex-center;
}
.cpu-general-status{
  height:70px;
  width: 450px;
  margin:20px;
  background-color: #222222;
}
.cpu-used-status{
  height:70px;
  width: 300px;
  margin:0;
  background-color: #999999;
}

.memory-general-status{
  height:70px;
  width: 450px;
  margin:20px;
  background-color: #222222;
}
.memory-used-status{
  height:70px;
  width: 300px;
  margin:0;
  background-color: #999999;
}
