element.style {
}
body {
    margin: 10px;
}
html, body {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
body {
    width: 100%;
    min-height: 100%;
}
user agent stylesheetbody {
    display: block;
    margin: 8px;
}
Inherited from html.mdl-js
html, body {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
html {
    color: rgba(0,0,0,.87);
}
Pseudo ::selection element
::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
:image-general-status{
  height:300px;
  margin:auto;
}
:image-used-status{
  height:300px;
  margin:auto;
}
