<!-- Wide card with share menu button -->
<style>
    .containers-status.mdl-card {
        width: 512px;
        height: 486px;
        margin: 20px;
    }

    .containers-status .highcharts-series-0 {
        display: none;
    }
</style>

<div class="containers-status mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" id="chart-containers-status">
        <a class="card_title">容器状态</a>
    </div>
    <div id="container-chart">

    </div>
</div>

<script>

    var colors = Highcharts.getOptions().colors,
            categories = ['已用', '可用'],
            data = [{
                y: 1,
                color: colors[0],
                drilldown: {
                    name: 'Used',
                    categories: ['Used'],
                    data: [0.66],
                    color: '#00ff00'
                }
            }, {
                y: 1,
                color: colors[1],
                drilldown: {
                    name: 'Used',
                    categories: ['Free'],
                    data: [0.33],
                    color: '#00ff00'
                }
            }],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;


    // Build the data arrays
    for (i = 0; i < dataLen; i += 1) {

        // add browser data
        browserData.push({
            name: categories[i],
            y: data[i].y,
            color: data[i].color
        });

        // add version data
        drillDataLen = data[i].drilldown.data.length;
        for (j = 0; j < drillDataLen; j += 1) {
            brightness = 0.2 - (j / drillDataLen) / 5;
            versionsData.push({
                name: data[i].drilldown.categories[j],
                y: data[i].drilldown.data[j],
                color: Highcharts.Color(data[i].color).brighten(brightness).get()
            });
        }
    }

    // Create the chart
    var chart = new Highcharts.Chart({
        chart: {
            type: 'pie',
            renderTo: "container-chart"
        },
        title: {
            text: null
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }
        },
        plotOptions: {
            pie: {
                shadow: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
            valueSuffix: '%'
        },
        series: [{
            name: 'Browsers',
            data: browserData,
            size: '60%',
            color: '#000000',
            dataLabels: {

            }
        }, {
            name: '使用状况',
            data: versionsData,
            size: '80%',
            innerSize: '60%',
            dataLabels: {
                formatter: function () {
                    // display only if larger than 1
                    return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%' : null;
                }
            }
        }]
    });
</script>
