<style>
    .homework-status-card.mdl-card {
        width: calc(100% - 64px);
        margin: 20px;
    }

    .homework-status-card > .mdl-card__title {
        color: #fff;
        #height: 256px;
        #background: blue center / cover;
    }

    .homework-status-card > .mdl-card__menu {
        color: #fff;
    }
</style>

<div class="homework-status-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" id="chart-container">
        <a class="card_title">作业提交状态</a>
    </div>
    <div id="homework-status-card-chart">

    </div>
</div>
<script type="application/json" id="homework-status-card-data"></script>

<script>
    $.getJSON("http://h15.swineson.cn:18880/query/all", function (json) {
        var result = {
            title: json.meta.title,
            total: json.meta.user_total,
            correct: 0,
            error_count: 0,
            error: {},
            notsubmitted: 0
        };
        json.d.forEach(function (x) {
            if (!x.iserror) {
                result.correct++;
            }
            else {
                result.error_count++;
                if (typeof result.error[x.error] === "undefined") result.error[x.error] = 1;
                else result.error[x.error]++;
            }
        });
        result.notsubmitted = 1; //result.total - result.correct - result.error_count;
        var colors = Highcharts.getOptions().colors,
                categories = ['正确', '错误', '未提交'],
                data = [{
                    y: result.correct,
                    color: "lightgreen",
                    drilldown: {
                        name: '正确',
                        categories: ['正确'],
                        data: [result.correct],
                        color: "lightgreen"
                    }
                }, {
                    y: result.notsubmitted,
                    color: "grey",
                    drilldown: {
                        name: '未提交',
                        categories: ['未提交'],
                        data: [result.notsubmitted],
                        color: "grey"
                    }
                }, {
                    y: result.error_count,
                    color: "lightcoral",
                    drilldown: {
                        name: '错误',
                        categories: Object.keys(result.error),
                        data: Object.keys(result.error).map(function (key) {
                            return result.error[key];
                        }),
                        color: "lightcoral"
                    }
                }],
                browserData = [],
                versionsData = [],
                i,
                j,
                dataLen = data.length,
                drillDataLen,
                brightness;


        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {

            // add browser data
            browserData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });

            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }

        var chart = new Highcharts.Chart({
            chart: {
                type: 'pie',
                renderTo: 'homework-status-card-chart'
            },
            title: {
                text: result.title
            },
            yAxis: {
                title: {
                    text: '评测结果'
                }
            },
            plotOptions: {
                pie: {
                    shadow: true,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            series: [{
                name: '人次',
                data: browserData,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        //return this.y > 5 ? this.point.name : null;
                        //return this.point.name;
                        return null;
                    },
                    color: '#ffffff',
                    distance: -30
                }
            }, {
                name: '人次',
                data: versionsData,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        //return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%' : null;
                        return this.y > 0 ? '<b>' + this.point.name + ':</b> ' + this.y : null;
                    }
                }
            }]
        });
        $(".highcharts-container text:contains(Highcharts.com)").hide();
    });

</script>
