<!-- Wide card with share menu button -->
<style>
    .demo-card-chart.mdl-card {
        width: 512px;
        margin: 20px;
    }

    .demo-card-chart > .mdl-card__title {
        color: #fff;
        #height: 256px;
        #background: blue center / cover;
    }

    .demo-card-chart > .mdl-card__menu {
        color: #fff;
    }

    .image-status  .highcharts-yaxis-title {
        display: none;
    }
</style>

<div class="image-status mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" id="chart-container">
        <a class="card_title">镜像状态</a>
    </div>

    <div class="mdl-card__supporting-text">

        <div id="imagine-containers">
        </div>

    </div>

</div>

<script>
    var chart = new Highcharts.Chart({
        chart: {
            type: 'column',
            renderTo: 'imagine-containers'
        },
        title: {
            text: null
        },
        plotOptions: {
            column: {
                stacking: 'percent'
            }
        },
        xAxis: {
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            labels: {
                enabled: false
            },
            minorTickLength: 0,
            tickLength: 0
        },
        yAxis: {
            lineWidth: 0,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            labels: {
                enabled: false
            },
            minorTickLength: 0,
            tickLength: 0,
            gridLineColor: 'transparent'
        },
        series: [{
            name: '已用',
            data: [15],
            stack: 'mirror-num'
        }, {
            name: '可用',
            data: [10],
            stack: 'mirror-num'
        }]
    });
</script>

