<div class="page-framework mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title }}</span>
        <nav class="mdl-navigation">
            {{#pages}}<a class="mdl-navigation__link" href="{{ url }}.html">{{#icon}}<i class="material-icons">{{ icon }}</i>{{/icon}}{{^icon}}{{ name }}{{/icon}}</a>{{/pages}}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content"></div>
    </main>
</div>
